<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Lufran Muebleria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/png" href="/images/icon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/images/icon/favicon.svg" />
  <link rel="shortcut icon" href="/images/icon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png" />
  <link rel="manifest" href="/images/icon/site.webmanifest" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
  <div class="wrapper">

    <!--  Nuevo-->
    <header class="header-mobile">
      <h1 class="logo">Lufran Muebleria</h1>
      <button class="open-menu" id="open-menu">
        <i class="bi bi-list"></i>
      </button>
    </header>

    <aside>
      <!--  Nuevo-->
      <button class="close-menu" id="close-menu">
        <i class="bi bi-x"></i>
      </button>

      <header>
        <h1 class="logo">Lufran Muebleria</h1>
      </header>
      <nav>
        <ul class="menu">
          <li>
            <button id="todos" class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb-fill"></i>
              Todos los
              Productos</button>
          </li>

          <li>
            <button id="escritorios" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>
              Escritorios</button>
          </li>
          <li>
            <button id="mesitas" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Mesitas de
              Luz</button>
          </li>
          <li>
            <button id="bibliotecas" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>
              Bibliotecas</button>
          </li>
          <li>
            <button id="sillas" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Sillas
            </button>
          </li>

          <li>
            <a class="boton-menu boton-favoritos" href="./favoritos"><i class="bi bi-star"></i> Favoritos <span
                id="numerito" class="numerito">0</span></a>
          </li>
        </ul>
      </nav>
      <footer>
        <p class="texto-footer"> © 2025 Genovese Coder </p>
      </footer>
    </aside>

    <main>
      <h2 class="titulo-principal">Todos los Productos</h2>

      <div id="contenedor-productos" class="contenedor-productos">

      </div> <!-- .contenedor-productos -->
    </main>
  </div> <!-- .wrapper -->

  <br>

  <script src="/js/main.js"></script>
  <script src="/js/menu.js"></script>

</body>

</html>